@model IEnumerable<WebApplication1.Models.Photos>
@{
    ViewData["Title"] = "Search";
}

<h1>Search result</h1>
<table class="table">
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            <img src="@Url.Content(item.ImagePath)" width="auto" height="200" multiple />
        </td>
      
      
    </tr>
}
</tbody>
</table>    